.aside-notes {
  display: flex;
  flex-direction: column;

  width: 300px;
  height: 100dvh;
  top: 0;
  left: 0;
  background-color: var(--gray8);
  color: var(--white);
  padding: 0 1.5rem 1.5rem;
}

.aside-notes .profile {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  padding: 2rem 0 0;
  margin-top: 0;
  border-top: none;
  gap: 1rem;
}

.aside-notes .profile .profile-img {
  background: var(--gray5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--black);
  position: relative;
  overflow: hidden;
  user-select: none;
}

.aside-notes .options {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-block: 1.5rem;
  width: 100%;
  height: fit-content;
  border-top: 1px solid var(--gray7);
  padding-top: 2rem;
}

.aside-notes .options li {
  border-radius: 0.8rem;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

.aside-notes .options li a {
  padding: 0.75rem 1.5rem;
  width: 100%;
  display: flex;
}

.aside-notes .tags-container {
  border-top: 1px solid var(--gray7);
  border-bottom: 1px solid var(--gray7);
  padding-bottom: 2rem;
}

.aside-notes .tags-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.aside-notes .tags-header button {
  background-color: transparent;
  border: none;
  color: var(--yellow);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.aside-notes .tags-header button:hover {
  text-decoration: underline;
}

.aside-notes .tags-header h2 {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.aside-notes .tags-content .tag:hover,
.aside-notes ul li a.active,
.aside-notes ul li a:hover {
  background-color: var(--gray7);
}

.aside-notes ul li a svg {
  margin-right: 10px;
}

.aside-notes .tags-content {
  display: flex;
  flex-direction: column;
}

.aside-notes .tags-content .tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.aside-notes footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  text-align: center;
  color: var(--gray2);
  justify-content: flex-end;
}

.aside-notes footer a {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.aside-notes footer a:hover {
  color: var(--yellow);
}
