.main-notes {
  background-color: var(--gray9);
  color: var(--white);
  border-left: 1px solid var(--gray6);
  border-right: 1px solid var(--gray6);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-notes-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 80px;
  gap: 1.5rem;
  border-bottom: 1px solid var(--gray6);
}

.main-notes-header h2 {
  color: var(--gray1);
  user-select: none;
}

.main-notes-header svg {
  cursor: pointer;
  color: var(--gray3);
  border-radius: 0.5rem;
  padding: 10px;
  transition: all 0.3s;
  box-sizing: content-box;
  user-select: none;
}

.main-notes-header svg:hover {
  color: var(--yellow);
  background-color: var(--gray6);
}

.main-notes-search {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray6);
  position: relative;
}

.main-notes-search svg {
  color: var(--gray3);
  margin-right: 10px;
  cursor: pointer;
}
.main-notes-search input {
  width: 100%;
  padding: 1rem;
  color: var(--gray2);
}

.main-notes-search:hover,
.main-notes-search:focus-within {
  outline: none;
  background-color: var(--gray8);
}

.main-notes main {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100dvh - 100px - 30px);
}

.main-notes main::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.main-notes main::-webkit-scrollbar-thumb {
  background-color: var(--gray6);
  border-radius: 10px;
}

/* Trash */

.main-notes main input {
  display: none;
}

.main-notes main label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: .75rem;
  margin: .75rem;
  background-color: var(--gray7);
}

.main-notes main label .note-card {
  padding: 0;
  margin: 0;
}

.main-notes main label::before {
  display: flex;
  content: '';
  width: 12px;
  height: 12px;
  border: 2px solid var(--gray3);
  border-radius: .3rem;
  margin-right: 10px;
  cursor: pointer;
  transition: .3s;
}

.main-notes main label:has(input:checked)::before {
  background-color: var(--yellow);
  border-color: var(--yellow);
}