.main-notes {
  background-color: var(--gray9);
  color: var(--white);
  border-left: 1px solid var(--gray6);
  border-right: 1px solid var(--gray6);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-notes-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 80px;
  gap: 1.5rem;
  border-bottom: 1px solid var(--gray6);
  position: relative;
}

.main-notes-header h2 {
  color: var(--gray1);
  user-select: none;
}

.main-notes-header svg {
  cursor: pointer;
  color: var(--gray3);
  border-radius: 0.5rem;
  padding: 10px;
  transition: all 0.3s;
  box-sizing: content-box;
  user-select: none;
}

.main-notes-header svg:hover {
  color: var(--yellow);
  background-color: var(--gray6);
}

.main-notes-search {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray6);
  position: relative;
}

.main-notes-search svg {
  color: var(--gray3);
  margin-right: 10px;
  cursor: pointer;
}
.main-notes-search input {
  width: 100%;
  padding: 1rem;
  color: var(--gray2);
}

.main-notes-search:hover,
.main-notes-search:focus-within {
  outline: none;
  background-color: var(--gray8);
}

.main-notes .main-notes-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100dvh - 100px - 30px);
}

.main-notes .main-notes-list::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.main-notes .main-notes-list::-webkit-scrollbar-thumb {
  background-color: var(--gray6);
  border-radius: 10px;
}

.empty-notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  color: var(--gray2);
}

.empty-notes h1 {
  margin-bottom: 1rem;
}

.empty-notes span {
  color: var(--yellow);
  cursor: pointer;
}

.empty-notes span:hover {
  text-decoration: underline;
}

.main-notes .main-notes-list input {
  display: none;
}
.main-notes .main-notes-list .card-note-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.75rem;
  margin: 0.75rem;
  background-color: var(--gray7);
  width: calc(100% - 2rem);
  border-radius: 0.5rem;
}
.main-notes .card-note-container .note-card {
  padding: 0;
  margin: 0;
}

.main-notes .main-notes-list label {
  width: 0;
  height: 16px;
  background-color: var(--gray3);
  border-radius: .1rem;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.main-notes .main-notes-list label:has(input:checked) {
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
}

.main-notes .card-note-container:hover label {
  visibility: visible;
  pointer-events: all;
  width: 16px;
} 

.main-notes .main-notes-menu {
  position: absolute;
  top: 60px;
  left: 24px;
  background-color: var(--gray8);
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.main-notes .main-notes-menu button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.main-notes .main-notes-menu button:hover {
  background-color: var(--gray7);
  color: var(--yellow);
}
